<div class="card" style="min-width: 30%; max-width: 30%; margin-bottom: 0.75rem;">
  <img src="<%= movie.imdb_data.poster %>" alt="<%= movie.title %>" class="card-img-top" style="width: 100%">
  <div class="card-block">
    <h4 class="card-title"><%=movie.title %> (<%=movie.imdb_data.year %>)</h4>
    <p class="card-text"><%= movie.imdb_data.plot %></p>
  </div>
</div>